.navbar{
    text-align: center;
    background-color:#c9f092;
}

.footer{
    background-color: #c9f092;
    height: 100px;
    text-align: center;
    padding: 25px;
}

.material-symbols-outlined {
  font-variation-settings:
  'FILL' 0,
  'wght' 400,
  'GRAD' 0,
  'opsz' 48
}

h1{
  text-align:center;
  padding: 50px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

p{
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.btn-danger{
  width: 70%;
  margin-left: 60px;
  margin-top: 30px;
}

#intro{
  margin-left: 70px;
  margin-right: 70px;
}

#Contactof{
  background-color: #c9f092;

}

#terms{
  margin-left: 50px;
  margin-right: 50px;
  background-color: #c9f092;
}

#boton1{
  margin-top: 20px;
}

.mapa{
  padding-left: 400px;

}

#buscador_pedidos{
  margin-left: 400px;
}

#search_contacto{
  margin-left: 300px;
}

#card_contact{
  background-color: #c9f092;
}

#form_contact{
  width: fit-content;
}

#login{
  text-decoration: none;
  color: black;
  margin-right: 10px;
}

#formulario_login{
  background-color: #c9f092;
}

#dropdown_user{
  margin-right: 75px;
}

#icon_user{
  text-decoration: none;
  color: black;
}

#formulario_suscripcion{
  background-color: #c9f092;
}

#terminosYcondiciones{
  align-items: center;

}


.container {
  max-width: 400px;
  width: 100%;
  background: #FFF;
  padding: 40px;
  border-radius: 20px;
  position: relative;
}

.pic {
  position: absolute;
  top: 0;
  left: 50%;
  width: 80px;
  height: 80px;
  border-radius: 50%;
  font-size: 24px;
  color: #ffffff;
  text-align: center;
  line-height: 60px;
  border: 10px solid #4d3278;
  background: linear-gradient(to right,#9d50bb, #6e48aa);
  transform: translate(-50%, -50%);
}

.from {
  display: flex;
  flex-direction: column;
}

.title {
  text-align: center;
  margin-top: 30px;
}

label, .links, button{
  margin-top: 30px;
}

label {
  margin-top: 20px;
  font-size: 12px;
  color: rgb(77, 77, 77);
  font-weight: 600;
}

.imput {
  padding: 8px;
  outline: none;
  border: 0;
  background: #EEE;
}

button {
  background: linear-gradient(to right, #9d50bb, #6e48aa);
  padding: 8px;
  border: 0;
  color: #fff;
  font-size: 15px;
  letter-spacing: 1px;
  text-transform: uppercase;
}

/* captcha*/
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');



#captchaBackground {
height: 220px;
width: 250px;background-color: #2d3748;
display: flex;
align-items: center;
justify-content: center;
flex-direction: column;
}

#captchaHeading {color: white;
}

#captcha {height: 80%;
width: 80%;
font-size: 30px;letter-spacing: 3px;
margin: auto;display: block;top: 0;bottom: 0;left: 0;right: 0;
}

.center {
display: flex;
flex-direction: column;
align-items: center;
}

#submitButton {
margin-top: 2em;margin-bottom: 2em;background-color: #08e5ff;
border: 0px;font-weight: bold;
}

#refreshButton {
background-color: #08e5ff;
border: 0px;
font-weight: bold;
}

#textBox {
height: 25px;
}

.incorrectCaptcha {
color: #FF0000;
}

.correctCaptcha {
color: #7FFF00;
}



