<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Crear Plantita</title>
</head>
<body>

    <div class="row">
        <h1>Crear plantas</h1>
    </div>
    <div class="row">
    <form method="post" action="" id="formulario">
        {% csrf_token %}
        <div class="form-group">
            <table border="1">
            {{ form.as_table }}
            </table>
        </div>
        <input type="submit" class="btn btn-danger" id="enviar" value="Enviar">
        <input type="reset" class="btn btn-primary" id="limpiar" value="Limpiar">
    </form>
    <div id="error" class="alert alert-danger" role="alert">
        {{mensaje}}
    </div> 
</div>

</body>
</html>