{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <script src="https://kit.fontawesome.com/c1e0888f70.js" crossorigin="anonymous"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.1/jquery.min.js"></script>
    <link rel="stylesheet" href="{% static 'js/validacion.js' %}">

    <title>Formulario</title>
</head>
<body id="formulario_suscripcion">

    <div class="container px-4 text-center" >
      <div class="row">

        <div class="col-3 " >
        </div>

        <div class="col-6 bg-light p-5 mt-5 mb-5">
          <h3 class="text-center mt-3 mb-3">- Registro -</h3>

          <form method="post" action="" enctype="multipart/form-data" >
            {% csrf_token %}
            <div class="form-group">
                <table class="bg-light">
                {{ form.as_table }}
                </table>
            </div>
            <br>
            <a href="{% url 'login'%}" >¿Ya cuentas con una cuenta?</a>
            <br>
            <input type="submit" class="btn btn-primary" id="crearUsuario" value="Registrarse">
          </form>
          <div id="error" class=" hidden-alert alert-success p-3 mt-3" role="alert">
              {{mensaje}}
          </div> 
        </div>

        <div class="col-3"></div>
      </div>
    </div>

<!--Scripts-->
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js" integrity="sha384-oBqDVmMz9ATKxIep9tiCxS/Z9fNfEXiDAYTujMAeBAsjFuCZSmKbSSUnQlmh/jp3" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.min.js" integrity="sha384-mQ93GR66B00ZXjt0YO5KlohRA5SY2XofN4zfuZxLkoj1gXtW8ANNCe9d5Y3eG5eD" crossorigin="anonymous"></script>
</body>
</html>