{% load static%}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
    <link rel="icon" type="image/x-icon" href="assets/favicon.ico" />
    <script src="https://kit.fontawesome.com/c1e0888f70.js" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"></script>

    <title>Condiciones y terminos de uso</title>
</head>
<body>
    <div class="container mt-5 mb-5" id="terminosYcondiciones">
        <h3 class="mb-3">Acuerdo de Condiciones Y Terminos Legales</h3>
        <h4 class="mb-2">Condiciones del servicio</h4>
        <br>
        <p>1- Desarrollo de tecnologías y servicios que permiten a las personas conectar entre sí, establecer comunidades y 
            hacer crecer sus empresas. Estas Condiciones rigen el uso de Mundo Botanico y los productos, las funciones, la 
            aplicacion, los servicios, las tecnologías y el software que ofrecemos (los Productos de Mundo Botanico o Productos), 
            excepto cuando indiquemos expresamente que se aplican otras condiciones distintas de estas. Mundo Botanico Platforms, 
            Inc. te proporciona estos Productos.</p>
        <br>
        <p>2- A menos que se especifique lo contrario, no cobramos por usar Mundo Botanico ni el resto de los productos y servicios 
            referidos en estas Condiciones. En su lugar, empresas, organizaciones y terceros individuales nos pagan por mostrarte 
            anuncios sobre sus productos y servicios. Al usar nuestros Productos, aceptas que podemos mostrarte anuncios que 
            consideramos pertinentes para ti y tus intereses. Para determinar qué anuncios personalizados mostrarte, usamos tus 
            datos personales.</p>
        <br>
        <p>3- No vendemos tus datos personales a los anunciantes ni compartimos ningún tipo de información con ellos que te 
            identifique directamente (como tu nombre, dirección de correo electrónico u otros datos de contacto), a menos que nos 
            des tu permiso explícito. En su lugar, los anunciantes nos proporcionan información, como el tipo de audiencia a la que 
            quieren llegar con sus anuncios, y nosotros los mostramos a las personas que puedan estar interesadas en ellos. 
            Proporcionamos a los anunciantes informes sobre el rendimiento de sus anuncios para ayudarles a entender cómo se 
            interactúa con su contenido. Para obtener más información sobre cómo funciona la publicidad personalizada en los 
            Productos de Mundo Botanico en virtud de estas condiciones, consulta el apartado.</p>
        <br>
        <p>4- En nuestra Política de privacidad se detalla cómo recogemos y utilizamos tus datos personales para determinar algunos 
            de los anuncios que ves y ofrecerte el resto de los servicios que se describen a continuación. Asimismo, en las páginas 
            de configuración del Producto de Mundo Botanico pertinente puedes revisar cuando quieras las opciones de privacidad 
            de las que dispones en relación con el uso que hacemos de tus datos.
            </p>
        <br>
        <h5>**¿Cuales son mis obligaciones en Mundo botanico en virtud de las condiciones de uso?**</h5>
        <br>
        <h5>####Las personas que usan el servicio tienen prohibido realizar lo siguiente:</h5>
        <br>
        <strong>*Mentir o realizar algo ilegal, engañoso o fraudulento, o infringir los derechos de otra persona 
            (incluido el uso de su contenido sin permiso).</strong>
        <br>
        <strong>*Incumplir nuestras Normas comunitarias, que prohíben contenido como spam, acoso o desnudos.</strong>
        <br>
        <strong>*Crear cuentas falsas o recopilar información a la que se supone que no puedes acceder, o comprar, vender o 
            transferir cuentas (o partes de ellas, p. ej., Me gusta y seguidores), o iniciar sesión en las cuentas de 
            otras personas.</strong>
        <br>
        <strong>*Usar un dominio o una URL en tu nombre de usuario.</strong>
        <br>
        <strong>*Interferir en el funcionamiento el sitio. Por ejemplo, enviar malware.</strong>
        <br>
        <strong>*Incumplir otras políticas sobre nuestras herramientas empresariales. Por ejemplo, no puedes usar nuestra API de 
            Instagram para enviar spam.</strong>
        <br>
        <br>
        <h5>### Al aceptar el termino de las condiciones Usted acepta un descuento el cual usted ha completado dependiendo 
            del tiempo que alla elegido el cual se descontara desde su cuenta mientras usted tenga la cuenta activa 
            segun la secuencia.</h5>
        <br>
        <h5>##¿Quién es el propietario de mi contenido si acepto las Condiciones de uso?</h5>
        <br>
        <p>* Tú eres el propietario. Nos otorgas permiso para usar tu contenido en los casos concretos que se describen en 
            nuestra Política de datos, como mostrar tus publicaciones al público que eliges y procesar tus hashtags para que 
            otras personas encuentren tu contenido cuando realizan una búsqueda. Pero no somos los propietarios de tu contenido.</p>
        <br>
        <h5>##¿Cómo se usa mi información con los anuncios?</h5>
        <br>
        <p>*En las Condiciones, te pedimos permiso para usar información sobre tu actividad para mostrar cómo interactúas con 
            contenido publicitario, como los anuncios, al igual que lo hacemos con una publicación habitual. Por ejemplo, podríamos 
            mostrarles a tus seguidores que te gustó un anuncio o que lo comentaste. Pero, en este momento, solo lo hacemos con los 
            usuarios que tienen una cuenta de Facebook y que son mayores de 18 años. Los usuarios de Mundo Botanico pueden desactivar 
            esta función desde la configuración de la plataforma en la sección "Anuncios con tus acciones sociales". Obtén más 
            información aquí.</p>
        <br>
        <h5>##¿Cuándo pueden eliminar mi contenido o limitar mi cuenta?</h5>
        <br>
        <p>* Podemos eliminar tu contenido, así como limitar o eliminar tu cuenta si, por ejemplo, no cumples las Condiciones 
            o las Normas comunitarias. Ya que usted a aceptado las condiciones al momento de la eliminación de su cuenta se 
            tomara como incumplimiento de contratro, por lo que al momento de incumplimiento de condiciones se retirara 
            de su cuenta el 20 % entre la suma de compras y donaciones, al eliminar su cuenta se cortaran las donaciones 
            por lo que no tendra que preocuparse por sus numeros de cuenta o desfalcos fiscales este termino y condición es 
            importante que lo tenga presente que si no paga su deuda de incumplimiento se seguira descontando de su cuenta 
            y se incrementara su deuda porlo que tiene que ser completamente conciente de esta condición.
            </p>
        <br>
        <h5>##¿Qué ocurre si no acepto las Condiciones?</h5>
        <br>
        <p>**Las Condiciones definen el servicio que te brindamos y lo que exigimos a los miembros de nuestra comunidad. Abarcan 
            los compromisos que creemos que son necesarios para ofrecer un servicio seguro, inclusivo e innovador. Exigimos a 
            todos que acepten estos compromisos para poder usar el servicio. Si no quieres aceptarlos, puedes descargar 
            tus datos y eliminar tu cuenta cuando lo desees.</p>
        <br>
        <p>5- Usted esta aceptanto uso de esta plataforma ya sea a traves de cualquier dispositivo movil 
            ya sea Tablet, dispositivos Androis, Apple, Aios, tanto servidores como dispositivos moviles. </p>
        <br>
        <h5>Seguridad</h5>
        <br>
        <p>6- Violencia: no puedes hacer amenazas violentas contra una persona o un grupo de personas. También prohibimos 
            la glorificación de la violencia. Obtén más información sobre nuestras políticas de amenazas violentas y glorificación 
            de la violencia. </p>
        <br>
        <p>7- Terrorismo/extremismo violento: No puedes amenazar o fomentar el terrorismo o el extremismo violento. Obtén más 
            información.</p>
        <br>
        <p>8- Explotación sexual plantario: Tenemos una política de tolerancia cero respecto de la explotación sexual plantario en 
            Mundo Botanico Obtén más información buscando el termino dendrofilia.</p>
        <br>
        <p>9- Abuso/acoso: No puedes participar en situaciones de acoso dirigidas a una persona o incitar a otros a hacerlo. 
            Esto incluye desear o esperar que alguien sufra daños físicos. Obtén más información.</p>
        <br>
        <p>10-Comportamientos de incitación al odio: No puedes fomentar la violencia contra otras personas ni amenazarlas o
            acosarlas por motivo de su raza, origen étnico, nacionalidad, pertenencia a una casta, orientación sexual, género, 
            identidad de género, afiliación religiosa, edad, discapacidad o enfermedad grave. Más información. </p>
        <br>
        <p>11- Perpetradores de ataques violentos: Eliminaremos las cuentas de perpetradores de ataques terroristas, extremistas 
            violentos o violentos masivos, y también podemos eliminar los Tweets que difundan manifiestos u otro contenido producido 
            por los perpetradores. Más información. </p>
        <br>
        <p>12- Suicidio y autolesiones: No puedes fomentar ni promover el suicidio o las autolesiones. Más información.</p>
        <br>
        <p>13- Contenido multimedia de carácter delicado, incluida la violencia gráfica y el contenido para adultos: No puedes 
            publicar contenido multimedia que sea excesivamente morboso ni compartir contenido violento o para adultos en videos en 
            vivo o en imágenes de perfil o encabezados. El contenido multimedia donde se representa violencia o abusos sexuales tampoco está permitido. Obtén más información. 
            </p>
        <br>
        <p>14- Bienes o servicios ilegales o regulados: No puedes utilizar nuestro servicio para ningún propósito ilegal o para 
            promover actividades ilegales. Esto incluye la venta, compra o facilitación de transacciones de bienes o servicios 
            ilegales, así como determinados tipos de bienes o servicios regulados. Más información.
            </p>
        <br>
        <h5>Privacidad</h5>
        <br>
        <p>15- Información privada: no puedes publicar la información privada de otras personas (como el número de teléfono y 
            la dirección de su casa) sin su perpetradorización y permiso. También prohibimos amenazar con divulgar información 
            privada o incentivar a otros a hacerlo. Más información.</p>
        <br>
        <p>16- Desnudez no consensuada: No puedes publicar ni compartir fotos o videos íntimos de otra persona que se hayan 
            producido o distribuido sin el consentimiento de esa persona. Más información.</p>
        <br>
        <h5>Autenticidad</h5>
        <br>
        <p>17- Spam y manipulación de la plataforma: no puedes usar los servicios de Mundo Botanico con el propósito de amplificar 
            o suprimir información de forma artificial, ni llevar a cabo acciones que manipulen u obstaculicen la experiencia de 
            los usuarios en Mundo Botanico. Más información.</p>
        <br>
        <p>18- Integridad cívica: No puedes utilizar los servicios de Mundo Botanico con el fin de manipular o interferir en 
            elecciones u otros procesos cívicos. Esto incluye publicar o compartir contenido que pueda suprimir la participación o 
            engañar a las personas sobre cuándo, dónde o cómo participar en un proceso cívico. Más información.</p>
        <br>
        <p>19- Identidades engañosas y que inducen a error: No puedes hacerte pasar por personas, grupos u organizaciones para 
            inducir a error, confundir o engañar a otros usuarios, así como tampoco utilizar una identidad falsa de manera tal que 
            interrumpa la experiencia de otros en Mundo Botanico. Más información.</p>
        <br>
        <p>20- Contenidos multimedia falsos y alterados: Está prohibido compartir, con la intención de engañar, contenido 
            multimedia falso o alterado que pueda dar lugar a daños graves. Asimismo, es posible que etiquetemos los Tweets que 
            incluyen contenido multimedia falso y alterado para ayudar a los usuarios a comprender su autenticidad y para ofrecer 
            más contexto. Más información.</p>
        <br>
        <p>21- Derechos de perpetrador y de marca: No puedes infringir los derechos de propiedad intelectual de otros, incluidos 
            los derechos de perpetrador y de marca. Obtén más información sobre nuestra política de marcas y política de derechos 
            de perpetrador.</p>
        <br>
    </div>
    <!--Scripts-->
    <script src="js/scripts.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js" integrity="sha384-oBqDVmMz9ATKxIep9tiCxS/Z9fNfEXiDAYTujMAeBAsjFuCZSmKbSSUnQlmh/jp3" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.min.js" integrity="sha384-mQ93GR66B00ZXjt0YO5KlohRA5SY2XofN4zfuZxLkoj1gXtW8ANNCe9d5Y3eG5eD" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js" integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN" crossorigin="anonymous"></script>
    <script src="https://cdn.startbootstrap.com/sb-forms-latest.js"></script>    
</body>
</html>